{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="span12 page-center" >
        <form action="/search/" method="post"> {% csrf_token %}
            <div class="input-group">
                <input type="text" name="keyword" id="keyword" class="form-control" placeholder="Enter search keyword" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                </span>
            </div> 
        <p class="landing-text"> Search tumblr posts based on blog tags </p>    
        </form>
   </div> 
</div>
{% endblock %}        
