{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% if blogs.count == 0 %}
    <div class="container pagination-centered">
        <p class="landing-text"> Oops..No blogs with that tag</p>
        <form class="again" action="/">
            <input class="btn btn-default" type="submit" value="Search Again">
        </form>
    </div>    
{% else %}
    {%for blog in blogs%}
        <div class="container">
            <div class="row">
                <div class="span4"></div>
                    <div class="span4"></div>
                        <div class="center-block"></div>
                            <a href="{{blog.url}}"><h1>{{blog.caption|truncatechars:50|safe}}</h1></a>
                            <div class="row">
                                <div class="col-md-12">
                                    {% if blog.img_url == "" %}
                                        <img class="img-thumbnail" src="{% static "img/default.png" %}" />
                                    {% else %} 
                                        <img  class="img-thumbnail" src="{{blog.img_url}}" />
                                    {% endif %}
                                    <p>{{blog.pub_date}}</p>
                                    <ul class="list-inline">
                                        {%for tag in blog.tags.all%}
                                            {% if forloop.counter <= 15 %}
                                                <li class="comment">{{ tag}}</li>
                                            {% endif %}
                                        {%endfor%}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {%endfor%}
    <form class="again-sucess" action="/">
        <input class="btn btn-default" type="submit" value="Search Again">
    </form>
{% endif %}
{% endblock %}         
